<h1>Hello Angular 19</h1>
<p>{{myname}}</p>

<!-- {{}} -> interpolation in Angular, used to show TS data in HTML, can't use loops and increment decrement etc. -->

<app-componentdemo />
<app-componentdemo />

<app-button-click/>
<app-counter/>

<app-event/>
<app-set-input-get-input/>
<app-conditional-statement/>
<app-for-loop/>
<app-signal/>
<app-two-way-binding/>
<app-todo/>

<div style="margin: 10px; background-color: rgb(245, 211, 98); padding: 10px;">
    <ul>
        <li>
            <a routerLinkActive="myActiveIconCSS" routerLink="login">Go To Login Page</a>
        </li>
        <li>
            <a routerLinkActive="myActiveIconCSS" [routerLinkActiveOptions]="{exact:true}" routerLink="home">Go To Home Page</a>
        </li>
        <li>
            <a routerLinkActive="myActiveIconCSS" routerLink="about">Go To About Page</a>
        </li>
    </ul>
    
    <router-outlet/>
</div>
